<div>
    <label for="password-input">Password:</label>
    <input type="text" id="password-input" [(ngModel)]="password" (input)="checkPasswordStrength()">
  
    <div class="strength-section">
      <div [ngClass]="{'red': passwordStrength === 'easy', 'gray': password.length === 0, 'yellow': passwordStrength === 'medium' && password.length >= 8, 'green': passwordStrength === 'strong'}"></div>
      <div [ngClass]="{'red': password.length < 8, 'gray': password.length === 0 || password.length >= 8 && passwordStrength !== 'medium' && passwordStrength !== 'strong', 'yellow': passwordStrength === 'medium' && password.length >= 8, 'green': passwordStrength === 'strong'}"></div>
      <div [ngClass]="{'red': password.length < 8, 'gray': password.length === 0 || password.length >= 8 && passwordStrength !== 'strong', 'green': passwordStrength === 'strong'}"></div>
    </div>
  </div>
  