.strength-section {
  display: flex;
  justify-content: space-between;
  height: 10px;
  margin-top: 10px;
}

.strength-section div {
  flex-grow: 1;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.gray {
  background-color: gray;
}
